@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/Inter-Regular.ttf") format('truetype');
}
@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/Inter-ExtraBold.ttf") format('truetype');
    font-weight: bold;
}

* {
    font-family: "Inter";
}

body {
    margin: 0;
    padding: 0;
}

.top-header {
    position: absolute;
    width: 100%;
    text-align: center;
}

.content-wrap {
    height: 100vh;
    width: 100%;
    background-color: #ECECEC;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
}

.outer-wrap {
    width: 100%;
    display: flex;
    height: 300px;
    justify-content: flex-end;
    transition: 0.5s;
}

@media screen and (max-width: 768px) {
    .content-wrap {
        flex-direction: column;
    }
    .outer-wrap {
        justify-content: center;
    }
}

#vocab-range {
    font-size: 16px;
}

.question-card {
    width: 100%;
    max-width: 400px;
    border-radius: 0.5rem;
    background-color: #FEFEFE;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    margin-right: 5px;
    margin-left: 10px;
}

.sidebar {
    background-color: #FEFEFE;
    border-radius: 0.5rem;
    height: 300px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 5px;
    margin-right: 10px;
}

.current-count {
    position: absolute;
    right: 15px;
    top: 10px;
}

.display-text {
    font-weight: bolder;
    font-size: 30px;
    padding: 0 0 20px;
}