#canvas-wrap {
    width: 100%;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

#can {
    cursor: crosshair;
    background: white;
    border-radius: 0.5rem;
    max-width: 510px;
    height: 220px;
    margin-bottom: 10px;
    width: calc(100% - 10px);
}

.canvas-sidebar {
    border-radius: 0.5rem;
    background: white;
    height: 70px;
    max-width: 510px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    width: calc(100% - 10px);
}

@media screen and (max-width: 768px) {
    #can {
        margin-top: 10px;
        margin-bottom: 10px;
        width: calc(100% - 20px);
    }
    .canvas-sidebar {
        width: calc(100% - 20px);
    }
    #canvas-wrap {
        align-items: center;
    }
}


.suggestion {
    font-weight: bold;
    cursor: pointer;
    background: #2196f3;
    color: white;
    padding: 5px 10px;
    min-width: 30px;
    border-radius: 0.5rem;
    margin: 0 3px;
    white-space: nowrap;
    line-height: 32px;
}