#can {
    cursor: crosshair;
    background: white;
    border-radius: 0.5rem;
    max-width: 400px;
    transition: 0.5s;
}

.canvas-sidebar {
    border-radius: 0.5rem;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100px;
    height: 300px;
}

#canvas-wrap {
    width: 100%;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 768px) {
    #can {
        max-width: 510px;
    }
    .canvas-sidebar {
        max-width: 510px;
        height: 80px;
        width: calc(100% - 20px);

        /* margin-left: 10px;
        margin-right: 10px; */
        margin-top: 10px;
    }
    #canvas-wrap {
        align-items: center;
        flex-direction: column;
    }
}


.suggestion {
    font-weight: bold;
    cursor: pointer;
    background: #2196f3;
    color: white;
    padding: 5px 10px;
    min-width: 30px;
    border-radius: 0.5rem;
    margin: 0 3px;
    white-space: nowrap;
    line-height: 32px;
}